#header__main {
  margin-bottom: 13rem;
}

#about {
  display: flex;
  flex-direction: column;
}

#about .about__intro {
  margin-bottom: 22rem;
  text-align: center;
  position: static;
  padding-left: 10rem;
  padding-right: 10rem;
}

#about .about__intro .about__intro--text,
#about .about__intro .about__intro--sub {
  position: fixed;
  top: 33%;
  left: 0;
  width: 100%;
}

#about .about__intro .about__intro--text {
  font-size: 12rem;
  font-family: var(--main-en-font);
  color: var(--color-primary-dark);
  margin-bottom: 2.4rem;
  z-index: 40;
}

#about .about__intro .about__intro--text::before {
  content: "\201c";
  position: absolute;
  top: 0.3rem;
  left: 31rem;
  line-height: 0.4;
  font-size: 38rem;
  color: rgba(186, 189, 204, 0.706);
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

#about .about__intro.on .about__intro--text::before {
  color: var(--color-primary-dark);
}

#about .about__intro .about__intro--sub {
  font-size: 2.2rem;
  font-family: var(--main-ko-font);
  font-weight: 300;
  z-index: 10;
  transform: translateY(16rem);
}

#about .about__sora {
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 21rem;
  z-index: 30;
  padding-left: 10rem;
  padding-right: 10rem;
}

#about .about__sora .about__sora--background {
  width: 70%;
  height: 67%;
  background-color: var(--color-green);
  z-index: 0;
  clip-path: polygon(5% 10%, 85% 0, 100% 45%, 60% 100%, 10% 90%);
  transform: translateX(6rem) rotate(16deg);
  /*
  position: absolute;
  left: -17rem;
  bottom: -9rem;
  */
}

#about .about__sora .about__sora--detail {
  flex: 0 0 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

#about .about__sora .about__sora--text {
  position: absolute;
  bottom: 18rem;
  right: 7rem;
  font-size: 2.2rem;
  font-family: var(--main-en-font);
  font-weight: 200;
  height: 28.899rem;
}

#about .about__sora--text .ko {
  font-family: var(--main-ko-font);
}

#about .about__sora--text > div {
  line-height: 4rem;
}

#about .about__sora--text .name,
#about .about__sora--text .age {
  font-size: 2.7rem;
  font-weight: 300;
}

#about .about__sora--text .age {
  margin-bottom: 2.4rem;
}

#about .about__sora .about__sora--text .ability__title {
  font-size: 2.7rem;
  font-weight: 400;
}

#about .about__sora .about__sora--image {
  flex: 0 0 51%;
  z-index: 1;
}

#about .about__sora .about__sora--image .img-box {
  width: 70%;
}

#about .about__sora .about__sora--image img {
  width: 100%;
}

#about .about__sora2 {
  background-color: var(--color-primary-dark);
  width: 100%;
  padding: 8rem 10rem;
  z-index: 100;
}

#about .about__sora2 .selfintroduction {
  width: 40%;
  margin: 0 auto;
  color: #fff;
  font-size: 2.2rem;
  font-family: var(--secondary-ko-font);
  text-align: center;
  vertical-align: middle;
}

/*********GOTO*********** */

#goto {
  height: 12rem;
}
