[data-aos="scale"] {
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="scale"].aos-animate {
  opacity: 1;
}

/*****************************/

#main {
  padding: 8rem 0;
  display: flex;
}

#main .main__quote {
  font-family: source-han-sans-korean, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8rem;
  line-height: 1em;
  color: var(--color-primary);
  flex: 1;
  z-index: 1;
  transform: translateX(9rem) translateY(13rem);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#main .main__quote .main__quote--text {
  margin-bottom: 2.4rem;
}

#main .main__quote .main__quote--subtext {
  font-size: 2.6rem;
  font-weight: 500;
  font-family: var(--main-ko-font);
  margin-bottom: 4.5rem;
  line-height: normal;
}

.border-btn {
  display: block;
  background-color: transparent;
  padding: 1.2rem 0;
  width: 50%;
  font-size: 2.4rem;
  font-family: var(--secondary-ko-font);
  font-weight: 700;
  color: var(--color-primary);
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-btn a::after {
  content: "\2192";
  display: inline-block;
  font-size: 5rem;
  font-weight: 400;
  line-height: 2rem;
  width: 2rem;
  color: currentColor;
  transition: all 0.4s;
  transform: translateY(6px);
}

#main .border-btn a::after {
  transform: translateY(6px);
  transition: transform 0.3s;
}

.border-btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

#main .border-btn.onlytext {
  width: 50%;
  text-align: center;
}

.border-btn.onlytext:hover {
  background-color: transparent;
}

.border-btn.onlytext:hover a,
.border-btn.onlytext:hover a::after {
  color: var(--color-primary);
}

.border-btn:hover a {
  color: #fff;
}

.border-btn:hover a::after {
  transform: translateX(2rem) translateY(6px);
  color: #fff;
}

.border-btn.btn-white a::after {
  transform: translateY(6px);
}

.border-btn.btn-white:hover a::after {
  transform: translateX(2rem) translateY(6px);
  transition: transform 0.3s;
  color: var(--color-green);
}

#main .border-btn:hover a::after {
  transform: translateX(2rem) translateY(6px);
  transition: transform 0.3s;
}

.border-btn a {
  display: block;
  width: 100%;
  font-size: 2.4rem;
  font-family: var(--secondary-ko-font);
  font-weight: 700;
  transform: translateY(-3px);
}

#main .main__image {
  flex: 1;
}
#main .main__image .image-box {
  width: 75%;
  height: 70rem;
  transform: translateX(-12rem);
  -webkit-clip-path: ellipse(36% 45% at 50% 50%);
  clip-path: ellipse(36% 45% at 50% 50%);
}

#main .main__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

#main .explore {
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#main .explore button {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-primary);
}

#main .explore::after {
  content: "";
  display: block;
  width: 4px;
  background-color: var(--color-primary);
  position: absolute;
  left: 50%;
  bottom: -4rem;
  transform: translateX(-50%);
  animation: exploreBar 1s alternate infinite;
}

@keyframes exploreBar {
  to {
    height: 4rem;
  }

  from {
    height: 2rem;
  }
}

#works {
  margin-top: 12rem;
  padding: 8rem 0;

  height: 420rem;
}

.works__content {
  position: relative;
  text-align: center;
}

.works__content::before {
  content: "";
  display: block;
  background-color: #fff;

  width: 100%;
  height: 80rem;
  -webkit-clip-path: ellipse(50% 34% at 50% 100%);
  clip-path: ellipse(50% 34% at 50% 100%);
  z-index: 0;
  transform: translateY(-20rem);
}

.works__content::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 130rem;
  transform: translateY(-16rem);
  z-index: 0;
}

#works .works__content .works__imgs {
  height: 66rem;
  margin: 0 auto;
  margin-top: -70rem;
  width: 30vw;
  z-index: 1;
}

#works .works__card {
  width: 42.8rem;
  height: 54.3rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -11rem;
  left: 50%;
  transition: 0.3s;
}

#works .works__imgs:hover .works__card:first-child {
  transform: translateX(-60%) translateY(-5rem) rotate(-15deg);
}

#works .works__imgs:hover .works__card:last-child {
  transform: translateX(-50%) translateY(3rem) rotate(25deg);
}

#works .works__card:first-child {
  transform-origin: bottom right;

  transform: translateX(-60%) translateY(-5rem) rotate(-7deg);
  z-index: 20;
}
#works .works__card:last-child {
  transform-origin: bottom right;
  transform: translateX(-50%) translateY(3rem) rotate(18deg);
  z-index: 10;
}

#works .works__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#works .works__card img.cac__banner {
  object-position: left;
}

#works .works__num {
}

#works .works__num span {
  font-size: 8rem;
  font-family: var(--secondary-ko-font);
  font-weight: 700;
}

#works .works__num .stroke {
  color: transparent;
  -webkit-text-stroke: 1px #000;
  margin: 0;
  line-height: 1;
  display: block;
  position: absolute;
  top: 60rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#works .works__num .fill {
  color: var(--color-salmon);
  position: absolute;
  top: 60rem;
  left: 50%;
  transform: translate(calc(-50% + 3px), calc(-50% + 3px));
  z-index: 10;
}

.works__text {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translateX(-50%);
  z-index: 10;
}

.works__text .works__text--name {
  font-size: 12rem;
  font-family: var(--main-en-font);
  font-weight: 200;
  text-transform: capitalize;
}

#works .works__content:nth-child(3),
#works .works__content:nth-child(4) {
  margin-top: -70rem;
}

#works .works__content:nth-child(3)::before,
#works .works__content:nth-child(3)::after {
  background-color: var(--color-secondary);
}

#works .works__content:nth-child(3) .fill {
  color: var(--color-primary);
}

/********* SUB *********/

#website {
  height: 460rem;
}

#website .works__content::after,
#advertisement .works__content::after,
#graphic .works__content::after {
  transform: translateY(-22.5rem);
}

#website .works__content .works__text,
#advertisement .works__content .works__text,
#graphic .works__content .works__text {
  position: absolute;
  top: 42rem;
  margin-bottom: 8rem;
}

.main__section article {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

#website article.proj2 {
  top: 100%;
}
#website article.proj3 {
  top: 155%;
  background-color: #fff;
  padding: 21rem 0;
}

#website .article__text {
  flex: 0 0 55%;
  z-index: 3000;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
}

#website article .article__title {
  color: transparent;
  -webkit-text-stroke: 3px var(--color-primary);
  font-size: 15rem;
  font-family: var(--main-en-font);
  text-transform: uppercase;
  transform: translateX(18rem);
  line-height: 15rem;
}

#website article.proj1 .article__title {
  font-size: 12rem;
}

#website article.proj2 .article__title {
  transform: translateX(-18rem);
  text-align: left;
  -webkit-text-stroke: 3px var(--color-green);
}

#website article.proj3 .article__title {
  transform: translateX(0);
  text-align: right;
  -webkit-text-stroke: 3px var(--color-salmon);
}

#website .article__center {
  width: 50%;
  text-align: center;
}

#website article.proj1 .article__center {
  transform: translateX(11rem);
}

#website article.proj2 .article__center {
  transform: translateX(0rem);
}

#website article.proj3 .article__center {
  transform: translateX(11rem);
}

#website article .article__detail {
  font-size: 1.8rem;
  font-family: var(--main-ko-font);
  width: 100%;
  margin-bottom: 4.5rem;
}

#website article.proj2 .article__detail {
}

#website .article__info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 4.5rem;
}

#website article .border-btn {
  width: 60%;
  margin: 0 auto;
}

#website .article__info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#website .article__info > div:first-child {
  flex: 0 0 40%;
}
#website .article__info > div:last-child {
  flex: 0 0 60%;
}

#website .article__info .article__info--title {
  font-size: 2.4rem;
  width: 14rem;
  padding: 1px 8px;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

#website .article__info .article__info--title.title--blue {
  background-color: var(--color-primary);
  color: #fff;
}

#website .article__info .article__info--title.title--green {
  background-color: var(--color-green);
  color: #fff;
}

#website .article__info .article__info--title.title--salmon {
  background-color: var(--color-salmon);
  color: #fff;
}

#website .article__info .article__info--sub {
  font-size: 1.9rem;
  font-weight: 400;
}

.btn-blue {
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}

.text-blue {
  color: var(--color-primary);
}

.btn-green {
  border: 3px solid var(--color-green);
  color: var(--color-green);
}

.text-green {
  color: var(--color-green);
}
.btn-salmon {
  border: 3px solid var(--color-salmon);
  color: var(--color-salmon);
}

.text-salmon {
  color: var(--color-salmon);
}

.btn-primary {
  border: 3px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.text-primary {
  color: var(--color-primary-dark);
}

.btn-white {
  transform: translateY(100%);
  width: 25%;
  border: 3px solid #fff;
  color: #fff;
}

.text-white {
  color: #fff;
}

.btn-green:hover {
  background-color: var(--color-green);
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-white:hover {
  background-color: #fff;
}

.btn-green:hover a,
.btn-blue:hover a,
.btn-salmon:hover a {
  color: #fff;
}

.btn-white:hover a {
  color: var(--color-green);
}

.btn-salmon:hover {
  background-color: var(--color-salmon);
}

#website .article__img {
  flex: 0 0 45%;
}

#website article.proj2 .article__img {
  display: flex;
  justify-content: flex-end;
}

#website .article__img .img-box {
  width: 60%;
  height: 70rem;
  position: relative;
}

#website .proj1 .article__img .img-box::before {
  content: "";
  display: block;
  width: 140%;
  height: 120%;
  background-color: var(--color-primary);
  z-index: 0;
  clip-path: polygon(60% 20%, 90% 10%, 100% 100%, 30% 90%);
  position: absolute;
  right: -6rem;
  bottom: -6rem;
}
#website .proj2 .article__img .img-box::before {
  content: "";
  display: block;
  width: 120%;
  height: 100%;
  background-color: var(--color-green);
  z-index: 0;
  clip-path: polygon(5% 10%, 85% 5%, 100% 45%, 60% 100%, 10% 90%);
  position: absolute;
  left: -17rem;
  bottom: -9rem;
}
/*
#website .proj3 .article__img .img-box {
  height: 90rem;
}

#website .proj3 .article__img .img-box img:first-child,
#website .proj2 .article__img .img-box::before,
#website .proj1 .article__img .img-box::before {
  filter:drop-shadow(1px 8px 10px rgba(0,0,0,0.2));
}*/

#website .proj3 .article__img .img-box img:first-child {
  width: 170%;
  height: 90%;
  object-fit: contain;
  transform: translateY(30%) translateX(-5rem) rotate(-35deg);
}
#website .proj3 .article__img .img-box img:nth-child(2) {
  transform: translateX(30%) translateY(-110%);

  z-index: 10;
}
#website .proj3 .article__img .img-box img:last-child {
  transform: translateY(-200%) translateX(-10rem);
  z-index: 0;
}

#website .article__img .img-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: translateX(-6rem) translateY(-6.5rem);
  z-index: 3000;
}

#website article.proj3 .article__img .img-box img {
  height: 70rem;
}

#more {
  margin-top: 10rem;
  text-align: center;
  position: relative;
  height: 160rem;
}

#more.ad_more {
  margin-top: 35rem;
}

#more.graphic_more {
  margin-top: 28rem;
  height: 130rem;
}

#more .section__title {
  font-size: 16rem;
  font-family: var(--main-en-font);
  font-weight: 200;
  margin-bottom: 12rem;
}

#myCanvas {
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-40%);
}

#more .more__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#more .more__content a {
  display: block;
}

#more article {
  text-align: right;
  position: relative;
}
#more article.advertisement {
  flex: 0 0 70%;
}
#more article.graphic {
  flex: 0 0 30%;
  transform: translateY(8rem);
}
#more article.website {
  flex: 0 0 30%;
  transform: translateY(8rem);
}

#more article.website .more__img {
}

#more article .more__title {
  font-size: 8rem;
  font-family: var(--main-en-font);
  font-weight: 200;
  font-style: italic;
  text-transform: capitalize;
}

#more article.graphic .more__title {
  transform: translateX(-6rem);
}

#more article .more__img {
  overflow: hidden;
  position: absolute;
  transition: all 0.3s;
}

#more article.advertisement .more__img {
}
#more article.graphic .more__img {
  width: 100%;
}

#more article .more__img:hover img {
  transform: scale(1.06);
}

#more article .more__img:active {
  transform: scale(0.96);
}

#more article img {
  transition: all 0.3s;
  width: 100%;
  object-fit: cover;
}

/**************** ADVERTISEMENT ******************/

#advertisement {
  height: 380rem;
}

#website .works__content,
#advertisement .works__content,
#graphic .works__content {
  transform: translateY(15rem);
}

#advertisement .works__content::before {
  background-color: #fff;
}

#advertisement .works__content::after {
  background-color: #fff;
  height: 400rem;
}

#advertisement .works__text--name {
  color: var(--color-primary);
}
#graphic .works__text--name {
  color: #fff;
}
/*
#advertisement article {
  width: 100%;
}


*/

#advertisement .banner {
  flex-direction: column;
}

#advertisement .banner .article__img {
  padding-left: 10rem;
  padding-right: 10rem;
}

#advertisement .banner1 .img-box {
  width: 80%;
}

#advertisement .banner1 .img-box2 {
  transform: translateY(-30%) translateX(34.9rem);
}

#advertisement .banner .img-box img {
  width: 100%;
}

#advertisement .article__detail {
  color: #000;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: var(--secondary-ko-font);
  margin-top: -14rem;
}

.slide-up {
  opacity: 0;
  transition: all 1.3s;
  transform: translateY(40%) scale(0.9);
}

.slide-up2 {
  transition-delay: 1s;
}

.slide-up.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}
/** */

#advertisement .banner2 {
  background-color: var(--color-secondary);
  padding: 21rem 0;
  top: 195rem;
}

#advertisement .banner2 .article__img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#advertisement .banner2 .img-box {
  height: 30rem;
}

#advertisement .banner2 .img-box1 {
  width: 24%;
}

#advertisement .banner2 .img-box2 {
  width: 50%;
}

#advertisement .banner2 .img-box3 {
  width: 24%;
}

#advertisement .banner2 .img-box4 {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

#advertisement .banner2 .img-box img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#advertisement .banner2 .img-box4 img {
  height: auto;
}

#advertisement .banner2 .zoom {
  overflow: hidden;
}

#advertisement .banner2 .zoom img {
  transform: translateX(-2.5rem);

  /**/
}

#advertisement .banner2 .img-box3 img {
  object-fit: fill;
}

#advertisement .banner2 .article__detail {
  margin-top: 17rem;
  color: #000;
}

#advertisement .banner3 {
  top: 285rem;
  padding: 24rem 0 21rem;
  background-color: #eee;
}

#advertisement .banner3 .article__img {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

#advertisement .banner3 .img-box {
  width: 45%;
  box-shadow: 3px 10px 25px rgb(199, 199, 199);
}

#advertisement .banner3 .article__text {
  position: absolute;
  top: 50%;
  left: 52%;
  width: 38rem;
  text-align: left;
}

/**************GRAPHIC***************/

#graphic .works__content::before {
  background-color: var(--color-green);
}

#graphic .works__content::after {
  background-color: var(--color-green);
  height: 460rem;
}

#graphic.main__section .content {
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

#graphic.main__section .content1 {
  height: 150rem;
}

#graphic.main__section .content .article__content-box {
  position: relative;
}

#graphic .content1 .box1 {
  width: 40%;
  transform: translateX(20%);
}
#graphic .content1 .box2 {
  width: 64%;
  transform: translateY(-18%) translateX(24%);
}
#graphic .content1 .box3 {
  width: 38%;
  transform: translateY(-260%) translateX(-70%);
}

#graphic .content1 .img-box1 {
  width: 100%;
}
#graphic .content1 .img-box2 {
  width: 100%;
}
#graphic .content1 .img-box3 {
  width: 100%;
}

#graphic .content1 .img-box img {
  width: 100%;
  object-fit: cover;
}

.zoom-out {
  overflow: hidden;
}

#graphic .img-box1.zoom-out {
  background-color: #591112;
}
#graphic .img-box2.zoom-out {
}
#graphic .img-box3.zoom-out {
  background-color: #fff;
}

.zoom-out img {
  width: 100%;
  transform: translateX(2rem);
  object-fit: cover;
  object-position: 50%;
  /**/
}

#graphic .article__text {
  position: absolute;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: var(--main-en-font);
}

#graphic .box1 .article__text {
  top: 4rem;
  right: -42%;
  width: 40%;
  text-align: left;
}

#graphic .box2 .article__text {
  left: 16rem;
  bottom: -4rem;
}

#graphic .box3 .article__text {
  bottom: -4rem;
  left: 2rem;
}

#graphic .originals {
}

#graphic .originals img {
  display: block;
  width: 30rem;
  height: 26rem;
  object-fit: cover;
  position: absolute;
}

#graphic .originals .tabasco__original {
  top: 0;
  left: 38%;
}

#graphic .originals .addidas__original {
  top: 25%;
  left: 4.4%;
}
#graphic .originals .snikers__original {
  top: 52.6%;
  right: 3.8%;
}

#graphic .content2 {
  width: 100%;
  height: 94rem;
  transform: translateY(180%);
}
#graphic .content2 .content2__background {
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  padding: 12rem 0 8rem;
}

#graphic .content2 .img-box {
  width: 70%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#graphic .content2 .img-box img {
  box-shadow: 5px 12px 40px rgba(0, 0, 0, 0.2);
}

#graphic .content2__text {
  color: #fff;
  font-size: 2.4rem;
  font-family: var(--main-en-font);
  font-weight: 300;
  transform: translateY(4rem);
}

#graphic.main__section .content3 {
  top: 68%;
  flex-direction: row;
  flex-wrap: wrap;
}

#graphic .content3 .article__content-box {
  flex: 0 0 50%;
  margin-bottom: 21rem;
}

#graphic .content3 .article__content-box.box2 {
}

#graphic .content3 .article__content-box.box3,
#graphic .content3 .article__content-box.box4 {
  background-color: #eee;
  padding: 8rem 0;
}

#graphic .content3 .article__content-box .img-box {
  height: 63.144rem;
}
#graphic .content3 .article__content-box.box3 .img-box,
#graphic .content3 .article__content-box.box4 .img-box {
  width: 80%;
  margin: 0 auto;
}

#graphic .content3 .article__content-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#graphic .content3 .article__content-box.box3 img,
#graphic .content3 .article__content-box.box4 img {
  object-fit: contain;
}

.logo__application {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}

.logo__application .popup__content {
  width: 75%;
  height: 90%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  overflow-y: scroll;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  /*transform: translate(-50%, -50%) scale(0.25);*/
  transition: all 0.5s 0.2s;
}

.logo__application .popup__content .popup__left {
  width: 70%;
  height: 100%;
  margin-right: auto;
}

.logo__application .popup__content .popup__left .popup__img {
  width: 100%;
}

.logo__application .popup__content .popup__right {
  width: 28%;
  height: 100%;
  padding: 6rem 2.8rem;

  position: sticky;
  top: 0;
  right: 0;
}

.logo__application .popup__content .popup__right .heading-title {
  font-size: 3.5rem;
  margin-bottom: 0.8rem;
}

.logo__application .popup__content .popup__right .heading-sub {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.logo__application .popup__content .popup__right .popup__text {
  font-size: 1.9rem;
  font-weight: 400;
  font-family: var(--secondary-ko-font);
}

.logo__application:target {
  opacity: 1;
  visibility: visible;
}

.logo__application:target .popup__content {
  opacity: 1;

  transform: translate(-50%, -50%) scale(1);
}

.logo__application .popup__content .popup__right .popup__close:link,
.logo__application .popup__content .popup__right .popup__close:visited {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 3.5rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1rem;
}

.logo__application .popup__content .popup__right .popup__close:hover {
  color: var(--color-salmon);
}

@media all and (max-width: 102.4rem) {
  #main .main__image .image-box {
    width: 80%;
    transform: translateX(-7rem);
  }

  #main .main__quote {
    font-family: source-han-sans-korean, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    color: var(--color-primary);
    flex: 1;
    z-index: 1;
    transform: translateX(2rem) translateY(13rem);

    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #main .main__quote .main__quote--text {
    margin-bottom: 2.4rem;
  }

  #main .main__quote .main__quote--subtext {
    font-size: 2.6rem;
    font-weight: 500;
    font-family: var(--main-ko-font);
    margin-bottom: 4.5rem;
    line-height: normal;
  }
}

@media all and (max-width: 76.8rem) {
  #main .main__quote {
    font-size: 6rem;
  }

  #main .main__image .image-box {
    width: 90%;
    height: 70rem;
    transform: translateX(-7rem);
    -webkit-clip-path: ellipse(36% 45% at 50% 50%);
    clip-path: ellipse(36% 45% at 50% 50%);
  }

  #main .main__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
